div.mfeedback {padding-top:20px;}
div.mf-name, div.mf-email, div.mf-phone, div.mf-captcha, div.mf-message {width:23%; padding-bottom:0.4em; float:left;}
div.mf-name input, div.mf-email input, div.mf-phone input {width:80%;}
div.mf-message input {width: 80%;}
span.mf-req {color:red;}
div.mf-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}
#sub_button {
	cursor: pointer;
	border-radius: 0.5em;
	padding: 8px 18px;
	margin-left: 40%;
	color: #FFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-shadow: -1px -1px 0px #A60000;
    border:1px solid #a60000 !important;

	-moz-box-shadow:inset 0px 1px 0px 0px #f29d93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29d93;
	box-shadow:inset 0px 1px 0px 0px #f29d93;

    background: #ce0000; /* old browsers */
    background: -moz-linear-gradient(top, #fe1900 0%, #ce0000 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe1900), color-stop(100%,#ce0000)); /* webkit */
	background: linear-gradient(top, #fe1900 0%, #ce0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1900', endColorstr='#ce0000', GradientType=0 ); /* ie */
}

#sub_button:hover{
    border:1px solid #a60000 !important;
    background: #e60d00; /* old browsers */
    background: -moz-linear-gradient(top, #ff461d 0%, #e60d00 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff461d), color-stop(100%,#e60d00)); /* webkit */
	background: linear-gradient(top, #ff461d 0%, #e60d00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff461d', endColorstr='#e60d00', GradientType=0 ); /* ie */
}

#sub_button:active{
	border:1px solid #a60000 !important;
    position: relative;
	top: 1px;
    background: #e60d00; /* old browsers */
    background: -moz-linear-gradient(top, #e60d00 0%, #ff461d 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e60d00), color-stop(100%,#ff461d)); /* webkit */
	background: linear-gradient(top, #e60d00 0%, #ff461d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e60d00', endColorstr='#ff461d', GradientType=0 ); /* ie */
}
